<p id="notice"><%= notice %></p>

<h1 style="margin-left:20px;">Portfolio</h1>
<div class="container rounded">
<h2>About</h2>
<p style="font-size: 1.2em">Hello my name is Stefano Signorelli, I am a Computer Engineering student at UCCS.
 This website is where students can share their projects to the public once they sign in to the webpage.
  Right now the website has poem excerpts by a WW1 british soldier, Wilfred Owens, which are being displayed as projects.
</p>
<% if user_signed_in? %>
<%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-lg marginYes" %>
<%end%>
</div> 

<div class="flexBox">
<% @projects.each do |project| %>
  <div class="container2 marginYes containerWidth rounded">
    <h3><%= project.title %></h3>
    <%= project.description %>
    <br>
    <% if user_signed_in? %>
    <%= link_to 'Show', project %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
<% end %>
</div>
