<p id="notice"><%= notice %></p>

<h1>Portfolio</h1>
<h2>About</h2>
<div class="container">
<p>Hello my name is Stefano Signorelli, I am a Computer Engineering student at UCCS.
 This website is where students can share their projects to the public once they sign in to the webpage.
  Right now the website has poems featuring a WW1 british soldier, Wilfred Owens, which are being displayed as projects.
<a class="btn btn-primary btn-lg" href="#">Learn More</a>

</p>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
